{% extends 'listings/base.html' %}

{% block title %}Merchex{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1>Groupes</h1>
            <a href="{% url 'band-create' %}">
                <button class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i></button>
            </a>
        </div>

        <div class="card-body">
            <ul class="row gap-2">
                {% for band in bands %}
                <li>
                    <a href="{% url 'band-detail' band.id %}">{{band.name|upper}}</a>
                    -
                    <a class="me-2" href="{% url 'band-change' band.id %}"><i
                            class="fa-regular fa-pen-to-square"></i></a>
                    <a href="{% url 'band-delete' band.id %}"><i class="fa-solid fa-xmark text-danger"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}