{% extends 'listings/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card w-50 mx-auto">
        <div class="card-header d-flex flex-column">
            <h2>Contactez-nous</h2>
            <p>Nous sommes là pour vous aider !</p>
        </div>
        <div class="card-body p-4">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-outline-success mt-4" type="submit" value="Envoyer">
            </form>
        </div>
    </div>
</div>
{% endblock %}