{% extends 'base.html' %}
{% load static %}

{% block title %}Mes Photos{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h2 class="mb-5">Photos</h2>
        {% for photo in photos %}
        <div class="col-4">
            <a href="{% url 'photo_detail' photo.id %}">
                <div class="card bg-dark text-white">
                    <img src="{{ photo.image.url }}" class="card-img" alt="...">
                </div>
            </a>
            <div class="text-center mt-2">
                <h5 class="card-title fw-bold">{{ photo.title }}</h5>
                <p class="card-text fw-bold">{{ photo.caption }}</p>
                <p class="card-text fw-bold">Ajouté le {{ photo.date_created }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}